{
  "root": true,
  "extends": "@devshareacademy/eslint-config",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "max-len": ["error", { "code": 120 }]
  },
  "ignorePatterns": ["node_modules", "dist"]
}
